html,
body {
    overflow: hidden;
}

p {
    margin: 0px 0px 0px 0px;
    word-wrap: break-word;
}

.save-box {
    position: relative;
    left: 85%;
}

.status-box {
    font-size: 0.7rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 2px;
}

.status-color-ok {
    background-color: green;
}

.status-color-ng {
    background-color: red;
}

.text-format {
    font-size: 7px;
}

.text-rotate {
    transform: rotate(-90deg);
}

.w-10vw {
    width: 10vw;
}

.w-30vw {
    width: 30vw;
}
.w-40vw {
    width: 40vw;
}
.w-60vw {
    width: 60vw;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}

.w-95 {
    width: 95%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}

.w-40px {
    width: 40px;
}

.h-10 {
    height: 10%;
}

.h-40 {
    height: 40%;
}

.h-7vh {
    height: 7vh;
}

.h-30px {
    height: 30px;
}

.h-10vh {
    height: 10vh;
}

.h-15vh {
    height: 15vh;
}

.h-60vh {
    height: 60vh;
}

.ok-box {
    position: relative;
    left: 25%;
}

.plug {
    width: 20px;
    height: 20px;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
    /* z-index: 50; */
}

.hr {
    border: 1px solid black;
    border-radius: 5px;
}

/************************** ShelfZone Css ******************************/

.shelf {
    width: 100%;
    height: 5vh;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.5rem;
}

.working-table-3 {
    height: 10vh;
    width: 30px;
    /* transform: rotate(-90deg); */
    font-size: 7px;
    border: 2px solid black;
    border-radius: 2px;
}

.working-table-3-position {
    position: relative;
    top: 15vh;
}

/************************** ComputorZone Css ******************************/

.center-component {
    height: 65vh;
}

.bottom-component {
    height: 10vh;
}

.small-cabinet {
    height: 5vh;
    width: 40px;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
}

.computer-desk {
    height: 30%;
    width: 20%;
    font-size: 0.7rem;
    border: 2px solid black;
    border-radius: 2px;
    /* display: flex; */
}

.working-table-2 {
    height: 50%;
    width: 100%;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
}

.working-table-text-box {
    width: 10rem;
    height: 2rem;
    position: relative;
    top: 70px;
    right: 30px;
}

.sample-placement-area {
    height: 30vh;
    width: 100%;
    /* font-size: 7px; */
    /* position: relative; */
    border: 2px solid black;
    border-radius: 2px;
}

.sample-placement-area-text-box {
    width: 150%;
    /* height: 2rem; */
    font-size: 0.8rem;
    position: absolute;
    top: 35%;
    left: -10%;
    transform: rotate(-90deg);
}

.workbench {
    height: 7vh;
    width: 20vw;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
    /* margin: 0px 0px 0px 10px; */
    /* display: flex; */
}

.cabinet {
    height: 6vh;
    width: 8vw;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
    /* display: flex; */
    /* z-index: 50; */
}

.electrical-stand {
    /* height: 10vh;
    width: 50px; */
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.7rem;
}

.white-board {
    /* height: 10vh;
    width: 50px; */
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.7rem;
}

/**** Left zone Css: position ****/
.plug-computer-zone {
    position: relative;
    top: 2vh;
}

.plug-working-table-2-1 {
    position: relative;
    top: 5vh;
    z-index: 100;
}
.plug-working-table-2-2 {
    position: relative;
    top: 17vh;
    z-index: 100;
}

.plug-workbench-1 {
    position: relative;
    top: 11vh;
    left: 0vh;
    z-index: 100;
}
.plug-workbench-2 {
    position: relative;
    top: 3vh;
    left: 2vh;
    z-index: 100;
}

.plug-sample-placement {
    position: relative;
    top: 50%;
    left: 80%;
    z-index: 100;
}

.working-table-position-computer-zone {
    position: relative;
    top: 8vh;
}

.sample-placement-area-position {
    position: relative;
    top: 25vh;
}

.workbench-position {
    position: relative;
    left: 0vh;
    top: 8vh;
}

.cabinet-position {
    position: relative;
    left: 0vh;
    top: 9vh;
}
/**********************************/

/************************** Front Zone Css ******************************/
.left-size {
    width: 20vw;
}

/* .center-top-size {
    width: 27vw;
    height: 80vh;
} */

/* .center-bottom-size {
    width: 27vw;
    height: 20vh;
} */

.cabinet-front-zone-right {
    height: 8vh;
    width: 5vw;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.5rem;
}

.partition {
    height: 35vh;
    width: 1vw;
    border: 2px solid black;
    border-radius: 2px;
}

.acbench-controller {
    height: 7vh;
    width: 13vw;
    border: 2px solid black;
    border-radius: 2px;
}

.compressor-controller {
    height: 60%;
    width: 30%;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.5rem;
}

.sa-bench {
    height: 90%;
    width: 35%;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 1rem;
}

.working-table {
    height: 100%;
    width: 90%;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
}

.refrigerant-charger {
    height: 40%;
    width: 50%;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
}

.ac-main-power {
    height: 70%;
    width: 70%;
    /* font-size: 7px; */
    border: 2px solid black;
    border-radius: 2px;
}

/**** Front Zone Css: position ****/

.plug-ac-bench-controller {
    z-index: 100;
    position: relative;
    left: 35%;
    top: 25%;
}

.plug-table-ac-bench-controller {
    z-index: 100;
    position: relative;
    left: 15%;
    top: 10%;
}

.plug-r134a-position {
    z-index: 100;
    position: relative;
    left: -20%;
}

.plug-right-position {
    z-index: 100;
    position: relative;
    left: 83%;
    top: 5%;
}

.breaker-ac-main-power {
    z-index: 100;
    position: relative;
    top: 40%;
    left: 75%;
}

.ac-bench-controller-position {
    position: relative;
    top: -2.5vh;
}

.table-ac-bench-controller {
    position: relative;
    top: -2.5vh;
}

.cabinet-front-zone-position {
    position: relative;
    top: 50%;
}

.cabinet-right-front-zone-position {
    position: relative;
    top: -10%;
    left: 65%;
}

.refrigerant-charger-position {
    position: relative;
    top: 0%;
    left: 48%;
}

.ac-main-power-position {
    position: relative;
    top: 15%;
    left: 13%;
}

.compressor-controller-position {
    position: relative;
    top: 1vh;
    left: 8vw;
}

.sa-bench-position {
    position: relative;
    top: 5%;
    left: 20%;
}

.working-table-right-front-zone-position {
    position: relative;
    top: 5vh;
    left: 2vw;
}

/*****************************/

/************************** Back Zone Css ******************************/

.ac-bench {
    /* height: 38vh; */
    /* width: 60vw; */
    border: 2px solid black;
    border-radius: 2px;
}

.air-compressor {
    height: 45%;
    width: 40%;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.7rem;
}

.ac-behind-power {
    height: 70%;
    width: 30%;
    border: 2px solid black;
    border-radius: 2px;
}

/**** Back Zone Css: position ****/

.air-compressor-position {
    position: relative;
    left: 0%;
}

.ac-behind-power-position {
    position: relative;
    top: 20%;
    left: 20%;
}

.plug-behind-ac-bench {
    position: relative;
    left: 5%;
}

.breaker-ac-bench-behind {
    z-index: 100;
    position: relative;
    top: -45%;
    left: 10%;
}
